<!DOCTYPE html>
<html>
<head>
<title>Requests@MTracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="static\cs2.css"/>
</head>
<body>
<ul>
    <li><img src="static\ap.png"></li>
    <li><a href="user_dashboard.html">Dashboard</a></li>
    <li><a href="#requests.html">My Requests</a></li>
    <li><a href="requests.html">New Request</a></li>
    <li><a href="index.html">Logout</a></li>
</ul>
<div class="header"><h2 style="color:#7d97ad">Dashboard</h2></div>
<div class="main-content">
<div class ="Rform">
    <form>
        <input type="text" placeholder="Client's Name (Your Name)" name="psd" required autofocus>        
        <input type="text" placeholder="Request Type" name="request" required autofocus>
        <input type="text" placeholder="Item" name="item" required autofocus>
        <input type="text" placeholder="requestID" name="ID" required autofocus>
<div class="bton">
    <button type="submit" class="signupbtn">Submit</button>
    </form>
</div>
</div>

</body>
</html>